.content {
    text-align: center;
    
    
}

.chart-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.chart {
    width: 100%;
    max-width: 600px;
    height: auto;
}


