.container {
    top: 10px;
    bottom: 10px;
    width: auto;
    height: auto;
    padding: 42px 50px;
    color: rgb(10, 10, 10);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    z-index: 0;
    
        background-color: rgba(255, 255, 255,.9); /* Cambia el valor del último número (0.9) para ajustar la opacidad */
    
    
}

body {
    background-image: url('/img/consumo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}