    body {
        font-family: 'Lato', sans-serif;
        font-size: 17px;
    }

    .card {
        width: 90%;
        margin: 50 auto;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .card-header {
        background-color: #000;
        color: #FFF;
        padding: 20px;
        font-size: 24px;
    }

    .card-body {
        padding: 30px;
    }

    .form-control {
        width: 100%;
        border-radius: 10px;
        padding: 15px;
        font-size: 16px;
    }

    .custom-btn {
        position: relative;
        overflow: hidden;
        z-index: 1;
        color: #fff; /* Color del texto en el botón */
        padding: 10px 20px; /* Ajusta el relleno (padding) según tus necesidades */
        font-size: 16px; /* Ajusta el tamaño de la fuente según tus necesidades */
        background-color: #ffA500; /* Color naranja del botón */
        border: none; /* Elimina el borde del botón si lo hay */
        transition: background-color 0.3s ease-in-out;
    }
    
    .custom-btn:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-radius: 50%;
        background: radial-gradient(circle at center, transparent 10%, #000 20%, transparent 30%); /* Cambiado a negro (#000) */
        opacity: 0;
        transition: width 0.3s ease-in-out, height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
    
    .custom-btn:hover:before {
        width: 300px;
        height: 300px;
        opacity: 1;
    }
    
    .custom-btn:hover {
        background-color: #000; /* Color negro al pasar el mouse */
        color: #fff; /* Color del texto en el botón al pasar el mouse */
    }
    

    .row.justify-content-center {
        padding: 30px;
    }
    .small-container {
        max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
        padding: 10px; /* Ajusta el espaciado interior según tus necesidades */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
    }
    .custom-card {
        max-width: 100%; /* Ajusta el ancho máximo según tus necesidades */
        margin: 0 auto; /* Centra el card horizontalmente */
    }
    
    .custom-label {
        white-space: nowrap; /* Evita el desbordamiento de texto */
        display: inline-block; /* Asegura que el texto se muestre en una línea */
        margin-bottom: 0; /* Evita un margen inferior adicional */
        text-align: left;
    }
    
    .form-group {
        display: flex;
        align-items: center;
    }
    