.container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1));
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 2px solid rgba(255, 255, 255, 0.47);
    font-weight: bold;
    color: white;
}

.container h4,
.container h5,
.container h6 {
    color: white;
    font-weight: bold;

}

.logo-image {
    position: absolute;
    top: 50px;
    right: 40px;
    max-width: 30px;
    height: auto;
}

.container img {
    max-width: 20%;
    height: auto;
    display: block;
}

.btn:hover {
    background-color: whitesmoke;
    color: green;
}